---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('August 08 2021')}
>
	<img src="/md.jpg" alt="ja" style="max-width: 300px" />
	<p>
		Miłośnik tworzenia stron, szczególnie klasycznego dłubania w CSS ❤️❤️❤️, lubi rysować i tworzyć różnorakie pierdoły na komputerze.
		Jak sam mówi - uwielbia sporty wszelakie, ma super psa i podłego kota.
	</p>
	<h2>Kilka moich tworów:</h2>
	<ul>
		<li><a target="_blank" rel="noopener noreferrer" href="https://kursjs.pl">kursjs.pl</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://portfolio.domanart.pl">portfolio</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="http://bootstrap-icons.click/">bootstrap icon picker</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://domanart.pl/inne_rzeczy/gradient-generator/">css gradient generator</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://pokaimg.me">img placeholder</a></li>
	</ul>
</Layout>
