---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="About Me"
        pubDate={new Date('August 08 2021')}
>
    <img src="/md.jpg" alt="ja" style="max-width: 300px"/>
    <p>
        Miłośnik tworzenia stron, szczególnie klasycznego dłubania w CSS ❤️❤️❤️, lubi rysować i tworzyć różnorakie
        pierdoły na komputerze.
        Jak sam mówi - uwielbia sporty wszelakie, ma super psa i podłego kota.
    </p>
    <h2>Więcej na: <a href="https://domanart.pl">domanart.pl</a></h2>
</Layout>
